//
//  Nodes
//  -----------------------------------------

.main-banner {
    color: $white;
    background-color: $color_haiti;

    .main-banner-image {
        margin-right: 2px;
        width: 274px;
    }

    .page-title {
        h1 {
            letter-spacing: 0.1px;

            span {
                display: block;
            }

            .accent {
                color: $color_bright_sun;
            }
        }

        h5 {
            font-family: $font-regular;
            letter-spacing: 0.2px;
            margin-bottom: 0;
        }
    }

    .app-links {
        h6 {
            color: $color_silver-chalice;
            text-transform: uppercase;
            letter-spacing: 0.2px;
        }

        a {
            display: inline-block;
            vertical-align: middle;
        }

        .store-qr-code {
            font-family: $font-bold;
            color: $color_silver-mercury;
            display: inline-block;
            vertical-align: middle;

            img {
                display: inline-block;
                vertical-align: middle;
                width: 18px;
                margin-right: 11px;
            }

            span {
                display: inline-block;
                vertical-align: middle;
            }
        }
    }
}

.why-ipsipay-block {
    background-color: $color_silver-seashell;

    .why-ipsipay-block-item {
        padding: 24px;
        background-color: $color_bright_sun;
        border-radius: 8px;

        .why-ipsipay-block-item-title {
            font-family: $font-bold;
            font-size: 18px;
            color: $color_haiti;
            line-height: 24px;
            margin-bottom: 16px;
        }

        .why-ipsipay-block-item-text {
            color: $color_haiti;
            line-height: 16px;
        }
    }
}

.steps-block {
    h3 {
        font-family: $font-bold;
        line-height: 1;
        text-align: center;

        span {
            display: block;
        }
    }

    .steps-block-wrapper {
        .step-block-item {
            position: relative;
            text-align: center;

            &:not(:last-child) {
                &:after {
                    content: '';
                    position: absolute;
                    top: 50px;
                    height: 8px;
                    border-radius: 8px;
                    background-color: $color_silver-mercury;
                }
            }
            .step-number {
                font-family: $font-bold;
                line-height: 1;
                color: $color_galliano;
            }

            .step-text {
                line-height: 1;
            }
        }
    }
}

.transfer-block {
    background-color: $color_bright_sun;

    .transfer-block-title {
        font-family: $font-bold;
        line-height: 1;
        letter-spacing: -0.7px;
    }

    h4 {
        font-family: $font-regular;
        letter-spacing: 0.3px;
    }

    .app-links {
        display: flex;
        align-items: center;

        .store-qr-code {
            display: flex;

            img {
                width: 18px;
                margin-right: 14px;
            }

            span {
                font-family: $font-bold;
                letter-spacing: 0.3px;
            }
        }
    }
}

@media screen and (max-width: $screen__l) {
    .page-content {
        margin-top: 90px;
    }

    .main-banner {
        padding-top: 70px;
        padding-bottom: 70px;

        .page-title {
            h1 {
                font-size: 32px;
                line-height: 40px;
                text-align: center;
                margin-bottom: 10px;
            }

            h5 {
                font-size: 18px;
                line-height: 24px;
                text-align: center;
                margin: 0 auto 15px;
                max-width: 60%;
            }
        }

        .app-links {
            text-align: center;

            h6 {
                font-size: 12px;
                line-height: 16px;
                margin-bottom: 24px;
            }

            a {
                width: 150px;

                &:not(:first-of-type) {
                    margin-left: 15px;
                }
            }

            .store-qr-code {
                display: block;
                margin-top: 33px;
            }
        }
    }

    .why-ipsipay-block {
        padding-top: 40px;
        padding-bottom: 55px;

        h3 {
            font-size: 32px;
            line-height: 1;
        }

        .why-ipsipay-block-item {
            width: 100%;

            &:not(&:last-child) {
                margin-bottom: 16px;
            }
        }
    }

    .steps-block {
        padding: 110px 0 40px;

        h3 {
            font-size: 32px;
            margin-bottom: 40px;

            .accent {
                margin-top: 10px;
            }
        }

        .steps-block-wrapper {
            .step-block-item {
                width: 100%;

                &:not(:last-of-type) {
                    margin-bottom: 50px;
                }

                &:after {
                    display: none;
                }

                .step-number {
                    font-size: 72px;
                }

                h4 {
                    font-size: 24px;
                    margin-top: 16px;
                    margin-bottom: 12px;
                }

                .step-text {
                    font-size: 18px;
                }
            }
        }
    }

    .transfer-block {
        padding: 72px 0 30px;

        .transfer-block-title {
            font-size: 32px;
            text-align: center;
            margin-bottom: 16px;
        }

        h4 {
            font-size: 18px;
            text-align: center;
            margin-top: 0;
            margin-bottom: 48px;
        }

        .app-links {
            flex-wrap: wrap;
            justify-content: center;

            .app-link {
                margin: 0 8px;

                &:first-of-type {
                    margin-left: 20px;
                }

                &:last-of-type {
                    margin-right: 20px;
                }

                img {
                    width: 150px;
                }
            }

            .store-qr-code {
                display: block;
                margin-top: 35px;
                margin-bottom: 35px;

                img,
                span {
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }

        .transfer-block-image {
            display: flex;
            width: 272px;
            margin-bottom: -80px;

            img {
                margin-top: auto;
            }
        }
    }
}

@media screen and (min-width: $screen__l) and (max-width: $screen__xxl) {
    .main-banner {
        padding: 60px 0;

        .main-banner-text {
            width: 100%;
            max-width: 750px;
        }

        .page-title {
            h1 {
                font-size: 60px;
                line-height: 66px;
                margin-bottom: 20px;
            }
        }

        .app-links {
            margin-top: 50px;

            h6 {
                margin-bottom: 20px;
            }

            a {
                width: 150px;

                &:not(:first-of-type) {
                    margin-left: 15px;
                }
            }

            .store-qr-code {
                margin-left: 30px;
            }
        }
    }

    .why-ipsipay-block {
        padding-top: 60px;
        padding-bottom: 70px;

        h3 {
            font-size: 40px;
            margin-bottom: 32px;
        }

        .why-ipsipay-block-items {
            display: flex;
            justify-content: space-between;
        }

        .why-ipsipay-block-item {
            width: 25%;

            &:not(&:last-child) {
                margin-right: 16px;
            }
        }
    }

    .steps-block {
        padding: 50px 0;

        h3 {
            margin-bottom: 40px;

            .accent {
                margin-top: 14px;
            }
        }

        .steps-block-wrapper {
            .steps-block-step {
                display: flex;
                justify-content: space-between;
            }

            .step-block-item {
                width: 25%;

                &:not(:last-child) {
                    &:after {
                        left: 75%;
                        width: 50%;
                    }
                }

                .step-number {
                    font-size: 110px;
                }

                h4 {
                    margin-top: 28px;
                    margin-bottom: 12px;
                }

                .step-text {
                    font-size: 16px;
                }
            }
        }
    }

    .transfer-block {
        padding: 80px 120px;

        .transfer-block-wrapper {
            display: flex;
            justify-content: space-between;
            padding: 0;
        }

        .transfer-block-title-wrapper {
            padding-right: 40px;
            width: 60%;
        }

        .transfer-block-title {
            font-size: 50px;
        }

        h4 {
            font-size: 24px;
            margin-top: 20px;
        }

        .app-links {
            display: flex;
            align-items: start;
            flex-wrap: wrap;
            margin-top: 45px;

            .app-link {
                margin-right: 25px;

                &:last-child {
                    margin-right: 45px;
                }

                img {
                    width: 150px;
                }
            }

            .store-qr-code {
                margin-top: 15px;
            }
        }

        .transfer-block-image {
            display: flex;
            width: 272px;
            margin-bottom: -80px;

            img {
                margin-top: auto;
            }
        }
    }
}

@media screen and (min-width: $screen__xxl) {
    .main-banner  {
        padding: 135px 0 115px;

        .main-banner-text {
            width: 100%;
            max-width: 750px;
        }

        .page-title {
            h1 {
                font-size: 72px;
                line-height: 78px;
                margin-bottom: 33px;
            }
        }

        .app-links {
            margin-top: 75px;

            h6 {
                margin-bottom: 24px;
            }

            a {
                width: 180px;

                &:not(:first-of-type) {
                    margin-left: 22px;
                }
            }

            .store-qr-code {
                margin-left: 42px;
            }
        }
    }

    .why-ipsipay-block {
        padding-top: 80px;
        padding-bottom: 90px;

        h3 {
            margin-bottom: 32px;
        }

        .why-ipsipay-block-items {
            display: flex;
            justify-content: space-between;
        }

        .why-ipsipay-block-item {
            width: 100%;
            max-width: 272px;

            &:not(&:last-child) {
                margin-right: 16px;
            }
        }
    }

    .steps-block {
        padding: 60px 0 80px;

        h3 {
            margin-bottom: 48px;

            .accent {
                margin-top: 17px;
            }
        }

        .steps-block-wrapper {
            .steps-block-step {
                display: flex;
                justify-content: space-between;
            }

            .step-block-item {
                width: 255px;

                &:not(:last-child) {
                    &:not(:last-child) {
                        &:after {
                            left: 77%;
                            width: 66%;
                        }
                    }
                }

                .step-number {
                    font-size: 144px;
                }

                h4 {
                    margin-top: 36px;
                    margin-bottom: 16px;
                }

                .step-text {
                    font-size: 18px;
                }
            }
        }
    }

    .transfer-block {
        padding: 115px 152px;

        .transfer-block-wrapper {
            display: flex;
            justify-content: space-between;
            padding: 0;
        }

        .transfer-block-title-wrapper {
            padding-right: 50px;
            width: 60%;
        }

        .transfer-block-title {
            font-size: 72px;
        }

        h4 {
            margin-top: 20px;
        }

        .app-links {
            margin-top: 45px;

            .app-link {
                &:not(:first-child) {
                    margin-left: 25px;
                }

                img {
                    width: 180px;
                }
            }

            .store-qr-code {
                margin-left: 43px;
            }
        }

        .transfer-block-image {
            display: flex;
            width: 272px;
            margin-bottom: -115px;

            img {
                margin-top: auto;
            }
        }
    }
}
