//
//  Transfer page
//  -----------------------------------------

.remit-block {
    h5 {
        font-family: $font-regular;
    }

    .remit-block-list-wrapper {
        ul {
            font-family: $font-bold;

            li {
                font-size: 18px;
                line-height: 40px;
                list-style: disc;
                list-style-position: inside;
            }
        }
    }
}

.country-block {
    .country-support-block-wrapper {
        overflow-x: auto;
    }

    .country-support-block-inner {
        width: calc($page-width - 40px);
    }

    .to-country-title-wrapper {
        display: flex;
        padding-bottom: 8px;
        margin-bottom: 24px;
        border-bottom: 2px solid $color-cod-gray;

        .to-country-title {
            display: flex;
            flex-direction: column;
            align-self: end;
            width: 25%;
            padding-right: 10px;

            h6 {
                text-transform: uppercase;
                margin-bottom: 0;
            }

            span {
                font-family: $font-bold;
                font-size: 10px;
                line-height: 14px;
                color: $color_silver-scorpion;
                display: block;

                &:first-of-type {
                    margin-top: 8px;
                }
            }

            ul {
                font-family: $font-bold;
                font-size: 10px;
                line-height: 14px;
                color: $color_silver-scorpion;
                padding-left: 15px;
                margin-top: 8px;

                li {
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 5px;
                        left: -10px;
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        background-color: $color_silver-scorpion;
                    }
                }
            }
        }
    }

    .to-country-content-wrapper {
        padding-bottom: 20px;

        .to-country-content {
            display: flex;
            align-items: center;
            padding: 8px 8px 8px 16px;

            &:nth-of-type(even) {
                background-color: $color_silver-seashell;
            }

            .to-country-flag-col,
            .to-country-checked-col {
                width: 25%;
            }

            .to-country-flag-col {
                display: flex;

                img {
                    max-height: 24px;
                }

                span {
                    font-family: $font-bold;
                    font-size: 16px;
                    line-height: 24px;
                    margin-left: 16px;
                }
            }

            .to-country-checked-col {
                img {
                    width: 18px;
                }

                span {
                    display: block;
                    position: relative;

                    &:before {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 2px;
                        width: 7px;
                        height: 1px;
                        background-color: $color_silver-chalice;
                    }
                }
            }
        }
    }

    .link-button {
        display: inline-block;
    }
}

@media screen and (max-width: $screen__l) {
    .transfer {
        .remit-block {
            padding-top: 65px;
            padding-bottom: 55px;

            h3 {
                font-size: 32px;
            }

            h5 {
                font-size: 24px;
            }

            .remit-block-title-wrapper {
                margin-bottom: 32px;
            }
        }

        .country-block {
            padding: 40px 0 30px;

            .link-button {
                display: block;
                margin-top: 25px;
            }
        }
    }
}

@media screen and (min-width: $screen__l) and (max-width: $screen__xxl) {
    .transfer {
        .remit-block {
            padding-top: 100px;
            padding-bottom: 90px;

            h3 {
                font-size: 40px;
            }

            h5 {
                font-size: 20px;
            }

            .remit-block-info-wrapper {
                display: flex;
                justify-content: space-between;
            }

            .remit-block-title-wrapper {
                width: 49%;
            }

            .remit-block-list-wrapper {
                width: 40%;
            }
        }

        .country-block {
            padding: 40px 0 90px;

            h3 {
                font-size: 40px;
                margin-bottom: 45px;
                max-width: 635px;
            }

            .link-button {
                margin-top: 30px;
            }
        }
    }
}

@media screen and (min-width: $screen__xxl) {
    .transfer {
        .remit-block {
            padding-top: 120px;
            padding-bottom: 110px;

            h3 {
                margin-bottom: 32px;
            }

            h5 {
                margin-bottom: 0;
            }

            .remit-block-info-wrapper {
                display: flex;
                justify-content: space-between;
            }

            .remit-block-title-wrapper {
                width: 49%;
            }

            .remit-block-list-wrapper {
                width: 40%;
            }
        }

        .country-block {
            padding: 80px 0 110px;

            h3 {
                margin-bottom: 65px;
                max-width: 835px;
            }

            .link-button {
                margin-top: 50px;
            }
        }
    }
}
