/* ==========================================================================
   Fonts
   ========================================================================== */

@font-face {
    font-family: "font-regular";
    src: url(../fonts/Lato-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "font-italic";
    src: url(../fonts/Lato-Italic.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "font-light";
    src: url(../fonts/Lato-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "font-bold";
    src: url(../fonts/Lato-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "font-semibold";
    src: url(../fonts/Poppins-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: normal;
}
