select {
  position: relative;
  display: inline-block;
  letter-spacing: 0;
  margin: 0;
  border: none;
  overflow: hidden;
  -webkit-tap-highlight-color: $transparent-black;
  cursor: pointer;

  @include appearance;
  @include transition;

  &::-ms-expand {
    display: none;
  }
}

.select-primary {
  background-repeat: no-repeat;
  background-image: url(../media/icons/arrow-down.png);
  background-position: right 15px bottom 50%;
  -webkit-background-size: 10px auto;
  background-size: 10px auto;
}
